<section class="hero is-medium fullscreen-bg is-marginless">
    <video loop muted autoplay poster="/images/intro-poster.jpg" class="fullscreen-bg__video">
        <source src="/video/intro-yellow.mp4" type="video/mp4">
        <source src="/video/intro-yellow.webm" type="video/webm">
    </video>
    <!-- Begin Navigation -->
    <nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
      <!--<div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/cli-brand.png" alt="{{ site.name }}" >
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>-->
      <div class="navbar-menu">
        <!--<div class="navbar-start">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            Portfolio
          </a>
          <a class="navbar-item" href="{{ site.baseurl }}/">
            Contacts
          </a>
        </div>-->
        <div class="navbar-end">
          <a class="navbar-item is-hidden-mobile" href="https://github.com/cetrix13" target="_blank">
            <span class="icon has-text-white">
              <i class="fab fa-lg fa-github-alt"></i>
            </span>
          </a>
          <a class="navbar-item is-hidden-mobile" href="https://twitter.com/cetrix13" target="_blank">
            <span class="icon has-text-white">
              <i class="fab fa-lg fa-twitter"></i>
            </span>
          </a>
          <a class="navbar-item is-hidden-mobile" href="https://www.linkedin.com/in/dadykin" target="_blank">
            <span class="icon has-text-white">
              <i class="fab fa-lg fa-linkedin"></i>
            </span>
          </a>
          <a class="navbar-item is-hidden-mobile" href="https://www.facebook.com/dadykin.aleksandr" target="_blank">
            <span class="icon has-text-white">
              <i class="fab fa-lg fa-facebook"></i>
            </span>
          </a>
        </div>
      </div>
    </nav>
    <!-- End Navigation -->
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">
        Aleksandr Dadykin
        </h1>
        <h2 class="subtitle has-text-white">
        Full stack web developer, Pega BPM system architect, Pega decision consultant
        </h2>
      </div>
    </div>
  </section>
  </section>
