<!-- Begin Intro -->
<div class="hero is-medium is-marginless {{ page.intro_class }}">
  <!-- Begin Navigation -->
  <nav class="navbar is-transparent is-spaced is-tablet" aria-label="main navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ site.baseurl }}/">
          {{ page.main | default: "Main" }}
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/cetrix13" target="_blank">
          <span class="icon has-text-white">
            <i class="fab fa-lg fa-github-alt"></i>
          </span>
        </a>
        <a class="navbar-item" href="https://www.linkedin.com/in/dadykin" target="_blank">
          <span class="icon has-text-white">
            <i class="fab fa-lg fa-linkedin"></i>
          </span>
        </a>
        <a href="{{ site.t.ru.url }}" class="navbar-item lang">
          <span class="flag-icon flag-icon-ru"></span>ru
        </a>
        <a href="{{ site.t.en.url }}" class="navbar-item lang">
          <span class="flag-icon flag-icon-us"></span>en
        </a>
        <a href="{{ site.t.de.url }}" class="navbar-item lang">
          <span class="flag-icon flag-icon-de"></span>de
        </a>
      </div>
    </div>
  </nav>
  <!--\ End Navigation -->
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">{{ page.my_name | default: "Blog" }}</h1>
        <h2 class="subtitle has-text-white">{{ page.intro | default: "Für Deutsch zu lernen" }}</h2>
      </div>
    </div>
  </section>
</div>
<!--\ End Intro -->
