<hr>
<div class="columns">
  <div class="column is-10 is-offset-1-tablet">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box has-ribbon">
              <div class="ribbon is-medium is-warning"><span class="is-uppercase has-text-weight-semibold">Skills</span></div>
                <ul class="skills-list">
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced PHP developer - PHP 7.2, Laravel</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Certified Pega Decision Consultant - NBA, predictive models</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experience of using databases - MySQL, PostgreSQL, Oracle</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced Senior Pega BPM developer - SLA, agents, UI</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Content management solutions with Wordpress / 1C Bitrix</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced JavaScript developer - Vue.js, JQuery</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Completed course on Pega Robotics - RPA, RDA</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Speak fluently Russian and English, German is at level A2</li>
                </ul>
          </div>
        </div>
          <div class="tile is-parent">
            <div class="tile is-child box has-ribbon">
              <div class="columns" style="margin-top:1rem;">
              <div class="ribbon is-medium is-warning"><span class="is-uppercase has-text-weight-semibold">Web Projects</span></div>
                <div class="column is-6">
                  <div class="card">
                  <div class="card-image">
                    <figure class="image is-2by1">
                      <a data-lightbox="megaholod-demo" data-title="Megaholod's website" href="/images/megaholod-demo.jpg" >
                      <img src="/images/megaholod-demo.jpg" alt="">
                      <div class="img-title has-text-centered has-text-weight-semibold">Megaholod</div>
                      </a>
                    </figure>
                 </div>
                <div class="card-content">
                  <div class="content">
                    Responsive website with a product catalog, forms and 2Gis map.
                  </div>
                   <div class="tags">
                      <span class="tag is-warning">1C Bitrix</span>
                      <span class="tag is-warning">PHP</span>
                      <span class="tag is-warning">JQuery</span>
                    </div>
                </div>
              </div>
              </div>
              <div class="column is-6">
                <div class="card">
                <div class="card-image">
                  <figure class="image is-2by1">
                   <a data-lightbox="flatvision-demo" data-title="Flat Vision's website" href="/images/flatvision-demo.jpg" >
                  <img src="/images/flatvision-demo.jpg" alt="">
                  <div class="img-title has-text-centered has-text-weight-semibold">Flat Vision</div>
                  </a>
                  </figure>
               </div>
              <div class="card-content">
                <div class="content">
                  Responsive website, captcha and Ajax forms for quotes.
                </div>
                 <div class="tags">
                    <span class="tag is-warning">Wordpress</span>
                    <span class="tag is-warning">PHP</span>
                    <span class="tag is-warning">JS</span>
                  </div>
              </div>
            </div>
            </div>

              </div>
            </div>
          </div>
      </div>
  </div></div>
  <hr/>
  <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <p class="title">
            Code samples
          </p>
          <p class="subtitle">
            Please see repositories I worked at my <a class="tag is-warning is-medium has-text-black has-text-weight-semibold" href="https://github.com/cetrix13">Github</a> or
            <a class="tag is-warning is-medium has-text-black has-text-weight-semibold" href="https://codepen.io/cetrix13/">CodePen</a> and
            <a class="tag is-warning is-medium has-text-black has-text-weight-semibold" href="https://my.pega.com/myprofileprd/PRAuth/Profile/REG-281390">Pega</a> accounts.
          </p>
        </div>
      </div>
  </section>
