<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       Aleksandr Dadykin
      </h1>
      <h2 class="subtitle">
        Full stack web developer, Pega BPM system architect
      </h2>
    </div>
  </div>
</section>

<hr>
<div class="columns">
  <div class="column is-10 is-offset-1">
<div class="tile is-ancestor">
  <div class="tile is-horizontal is-12">
  <div class="tile is-parent">
    <article class="tile is-child notification is-info">
      <div class="content">
        <p class="title has-text-centered is-uppercase  ">Skills</p>
        <div class="content">
          <ul>
            <li>Experienced PHP developer - Laravel</li>
            <li>Experienced JavaScirpt developer - Vue, JQuery</li>
            <li>Automated testing with Selenium</li>
            <li>Design of fully responsive websites</li>
            <li>Custom content management solutions in Wordpress / Joomla</li>
          </ul>
        </div>
      </div>
    </article>
  </div>
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title has-text-centered is-uppercase">Projects</p>
          <p class="subtitle"></p>
          <div class="columns">
            <div class="column is-4">
            <figure class="image is-3by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            </div>
            <div class="column is-4">
            <figure class="image is-3by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            </div>
            <div class="column is-4">
            <figure class="image is-3by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            </div>
        </div>
        </article>
      </div>
    </div>
  </div>
</div>
</div></div>

<section class="section">
    <div class="container has-text-centered">
      <h1 class="title">Contact</h1>
    </div>
</section>

<div class="column is-10 is-offset-1">

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Name">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
</div>

 <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <div class="control">
    <textarea class="textarea is-info" type="text" placeholder="Primary textarea"></textarea>
  </div>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success">
      Contact Me
    </button>
  </p>
</div>
</div>
