<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
      Aleksandr Dadykin
      </h1>
      <h2 class="subtitle">
      Full stack web developer, Pega BPM system architect, Pega decision consultant
      </h2>
    </div>
  </div>
</section>
<hr>
<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="tile is-ancestor">
      <div class="tile is-horizontal is-12">
        <div class="tile is-parent">
          <article class="tile is-child notification is-info has-ribbon">
            <div class="content">
              <div class="ribbon is-medium is-primary"><span class="is-uppercase has-text-weight-semibold">Skills</span></div>
              <div class="content">
                <ul class="skills-list">
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced PHP developer - Laravel, PHPUnit</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced Senior Pega BPM developer - SLA, agents, UI</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Certified Pega Decision Consultant - NBA, predictive models</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Completed course on Pega Robotics - RPA, RDA</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Experienced JavaScript developer - Vue.js, JQuery</li>
                  <li><span class="icon"><i class="fas fa-check"></i></span> Content management solutions in Wordpress / 1C Bitrix</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile notification is-info has-ribbon">
              <div class="ribbon is-medium is-primary"><span class="is-uppercase has-text-weight-semibold">My Projects</span></div>
              <div class="columns" style="margin-top:1.2rem;">
                <div class="column is-6">
                  <figure class="image">
                    <a data-lightbox="megaholod-demo" data-title="Megaholod's website" href="/images/megaholod-demo.jpg">
                    <img src="/images/megaholod-demo.jpg"></a>
                    <p class="subtitle has-text-centered"><span class="tag is-primary is-medium">Megaholod</span></p>
                </div>
                <div class="column is-6">
                  <figure class="image">
                    <a data-lightbox="flatvision-demo" data-title="Flat Vision's website" href="/images/flatvision-demo.jpg">
                    <img src="/images/flatvision-demo.jpg"></a>
                    <p class="subtitle has-text-centered"><span class="tag is-primary is-medium">Flat Vision</span></p>
                  </figure>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div></div>
  <hr/>
  <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <p class="title">
            Code samples
          </p>
          <p class="subtitle">
            Please see repositories I worked at my <a class="tag is-primary is-medium" href="https://github.com/cetrix13">Github</a> and
            <a class="tag is-primary is-medium" href="https://codepen.io/cetrix13/">CodePen</a> accounts.
          </p>
        </div>
      </div>
    </section>
