<hr>
<div class="columns">
    <div class="column is-10 is-offset-1-tablet">
        <nav class="breadcrumb is-right" aria-label="breadcrumbs">
            <ul>
                <li><a href="/de/blog/"><span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                    </span><span>Blog</span></a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
                </ul>
            </nav>
            <article class="post">
                {{ content }}
                <p class="date"><time>Datum: {{ page.date | date: "%d.%m.%Y" }}</time></p>
            </article>
        </div>
    </div>
