// Variables
$navbar-item-img-max-height: 2.5rem
$family-primary: 'Montserrat', 'Helvetica', 'Arial', sans-serif
$navbar-height: 2.25rem
$navbar-padding-vertical: 0.5rem

// General
body
  background-color: #fcfbf7
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  overflow-x: hidden


div.column.is-8:first-child
  padding-top: 0
  margin-top: 0

.subtitle
  margin-top: 1rem

figcaption
  position: relative
  background: rgba(0,0,0,0.4)
  color: #fff
  width: 100%
  padding: .3rem

// For bloggging, post creation

// Skills sections
.skills-list
  list-style: none !important
  margin-left: 0.5rem !important

.skills-list li
  margin-top: 0.2em

// Backround video
.fullscreen-bg
  position: relative
  overflow: hidden

.fullscreen-bg__video
  position: absolute
  left: 0
  min-width: 100%
  min-height: 100%
  width:auto
  height:auto
  object-fit: fill
  object-position: 50% 50%

@media (max-width: 767px)
  .skills-list
    margin-top: 1.6rem
