// Variables
$navbar-item-img-max-height: 2.5rem
$family-primary: 'Montserrat', 'Helvetica', 'Arial', sans-serif
$navbar-height: 2.25rem
$navbar-padding-vertical: 0.5rem
$body-background-color: #fcfbf7

// General
body
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  overflow-x: hidden


div.column.is-8:first-child
  padding-top: 0
  margin-top: 0

.subtitle
  margin-top: 1rem

.img-title
  position: relative
  background: rgba(0,0,0,0.4)
  color: #fff
  width: 100%
  padding: .3rem

// For bloggging, post creation

// Skills sections
.skills-list
  list-style: none !important
  margin-left: 0.5rem !important

.skills-list li
  margin-top: 0.2em

// Backround video
//.fullscreen-bg
 // position: relative
 // overflow: hidden

.fullscreen-bg__video
  position: absolute
  left: 0
  min-width: 100%
  min-height: 100%
  width:auto
  height:auto
  object-fit: fill
  object-position: 50% 50%

.fullscreen-bg
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


@media (max-width: 760px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-760x507.jpg) no-repeat center center
  .skills-list
    margin-top: 1.5rem

@media (max-width: 1440px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-1440x450.jpg) no-repeat center center

@media (max-width: 1800px) and (min-width: 1441px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-1800x480.jpg) no-repeat center center

@media (max-width: 3000px) and (min-width: 1801px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-3000x900.jpg) no-repeat center center

