// Variables
$navbar-item-img-max-height: 2.5rem
$family-primary: 'Montserrat', 'Helvetica', 'Arial', sans-serif
$navbar-height: 2.25rem
$navbar-padding-vertical: 0.5rem
$body-background-color: #fcfbf7

// General
body
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  overflow-x: hidden


div.column.is-8:first-child
  padding-top: 0
  margin-top: 0

.subtitle
  margin-top: 1rem

.img-title
  position: relative
  background: rgba(0,0,0,0.4)
  color: #fff
  width: 100%
  padding: .3rem

// For bloggging, post creation

// Projects section

.card-content
  padding: 1rem

.card-content div.content
  margin-bottom: .8rem

.card
  border-radius: .3rem !important
  background-color: #fcfbf7

// Skills sections
.skills-list
  list-style: none !important
  margin-left: 0.3rem !important

.skills-list li
  margin-top: 0.4em

// Backround video
//.fullscreen-bg
 // position: relative
 // overflow: hidden

.btnSend
  display: flex

.btnSend > button
  justify-content: flex-end
  margin-left: auto



.fullscreen-bg
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


@media (max-width: 760px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-760x507.jpg) no-repeat center center
  .skills-list
    margin-top: 1.5rem

@media (max-width: 1440px) and (min-width: 761px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-1440x450.jpg) no-repeat center center

@media (max-width: 1800px) and (min-width: 1441px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-1800x420.jpg) no-repeat center center

@media (max-width: 3000px) and (min-width: 1801px)
  .fullscreen-bg
    background: url(/images/intro-caspar-rubin-3000x420.jpg) no-repeat center center
