// Variablen
$navbar-item-img-max-height: 2.5rem
$family-primary: 'Montserrat', 'Helvetica', 'Arial', sans-serif
$navbar-height: 2.25rem
$navbar-padding-vertical: 0.5rem
$body-background-color: #fcfbf7
$link-hover: #3273dc
$flag-icon-css-path: 'images/flags'

