<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bulma.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/lightbox-plus-jquery.min.js"></script>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link href="{{ site.baseurl }}/lightbox.min.css" rel="stylesheet">
    <script>
    lightbox.option({
      'resizeDuration': 100,
      'wrapAround': true
    })
</script>
  </head>
  <body>
    {% include nav.html %}
    {% include page.html %}
    {% include contact-form.html %}
    <footer class="footer ">
      <div class="container">
        <div class="content has-text-centered">
          &#169; {{ site.time | date: '%Y' }} Aleksandr Dadykin
        </div>
      </div>
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </body>
</html>
