<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bulma.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <!-- Begin Navigation -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/cli-brand.png" alt="{{ site.name }}" >
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
        <div class="navbar-menu">

          <div class="navbar-start">
            <a class="navbar-item" href="{{ site.baseurl }}/">
              Portfolio
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/">
              Contacts
            </a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item is-hidden-mobile" href="https://github.com/cetrix13" target="_blank">
              <span class="icon" style="color: #333;">
                <i class="fab fa-lg fa-github-alt"></i>
              </span>
            </a>
            <a class="navbar-item is-hidden-mobile" href="https://twitter.com/cetrix13" target="_blank">
              <span class="icon" style="color: #55acee;">
                <i class="fab fa-lg fa-twitter"></i>
              </span>
            </a>
          </div>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Begin Content -->
    <section class="section">
      <div class="container">
      {{ content }}
      </div>
    </section>
    <!-- End Content -->

    <footer class="footer ">
      <div class="container">
        <div class="content has-text-centered">
        {% include svg-icons.html %}
        </div>
      </div>
    </footer>
    {% include analytics.html %}
  </body>
</html>
